In [2]:
1239 + 290302 # this is an expression

291541

Operators
 - arithmetic
 - assignment
 - comparision
 - logical
 - identity
 - membership
 - bitwise ❌

```
* / // ** %
+-
```

In [7]:
10+3*5

25

In [8]:
10-5*3/2**3

8.125

In [10]:
x=12
y=33
z=32
a=x+66
b=3*y-z

In [11]:
#assignment
x+=5
x-=3

In [14]:
#comparision
print(x>y)
print(x<y)
print(x==y)
print(x>=14)
print(x<=15)
print(15>x >5)
print(0<x<10)

False
True
False
True
True
True
False

In [15]:
print(x>10 and y<50)#T and F=T
print(x>10 and y<-5)#T and F= F
print(x<10 and y<-5)#Fa and F=F

True
False
False

In [16]:
print(x>10 or b< 50)#T or T = T
print(a>10 or b<-5)# T or F = T
print(a<10 or b<-5)#F or F=F

True
True
False

In [17]:
print(not x>10)#not T  =F
print (not x<10)#not F=T

False
True

In [18]:
#identity - is
x=10
y=15

print(x is y)

False

In [19]:
a=10
print(x is a)

True

In [20]:
#membership : in 
b= [1,2,3,4,5,6,7] #list
print(5 in b)
print(25 in b)
print (5 in b )

True
False
True

In [21]:
colors=['red','blue','green']
print('red ' in colors) #used for searching 3

False